@model IEnumerable<PersonResponse>

@{
    ViewBag.Title = "Persons";
}
<form method="get">
<h1>Persons</h1>

<a href="~/persons/create">Create Person</a>
<div class="box flex">
    <div class="flex-1">
        <select class="form-input" name="searchBy">
        @foreach (var field in ViewBag.SearchFields)
        {            
            <option value="@field.Key" selected="@(field.Key == ViewBag.SearchBy ? "selected" : null)">@field.Value</option>
        }
        </select>
    </div>
    <div class="flex-1">
            <input type="search" class="form-input" placeholder="Search" name="searchString" value="@ViewBag.searchString" />
    </div>
    <div class="flex-1">
        <button class="button button-blue-back">Search</button>
        <a href="~/persons/index" class="link-hover">Clear All</a>
    </div>
</div>
<table class="table w-100 mt">
    <thead>
        <tr>
                <th>
                    <a href="~/persons/index?searchBy=@ViewBag.SearchBy&searchString=@ViewBag.SearchString&sortBy=@nameof(PersonResponse.PersonName)&sortOrder=@(ViewBag.SortOrder=="DESC" ? "ASC" : "DESC")">
                        Person Name
                        @if (ViewBag.SortBy == nameof(PersonResponse.PersonName))
                        {
                            <i class="@(ViewBag.SortOrder == "DESC" ? "fa-solid fa-sort-down" : "fa-solid fa-sort-up")"></i>
                        }
                    </a>
                </th>
                <th>
                    <a href="~/persons/index?searchBy=@ViewBag.SearchBy&searchString=@ViewBag.SearchString&sortBy=@nameof(PersonResponse.Email)&sortOrder=@(ViewBag.SortOrder=="DESC" ? "ASC" : "DESC")">
                        Email
                        @if (ViewBag.SortBy == nameof(PersonResponse.Email))
                        {
                            <i class="@(ViewBag.SortOrder == "DESC" ? "fa-solid fa-sort-down" : "fa-solid fa-sort-up")"></i>
                        }
                    </a>
                </th>
                <th>
                    <a href="~/persons/index?searchBy=@ViewBag.SearchBy&searchString=@ViewBag.SearchString&sortBy=@nameof(PersonResponse.DateOfBirth)&sortOrder=@(ViewBag.SortOrder=="DESC" ? "ASC" : "DESC")">
                        Date of Birth
                        @if (ViewBag.SortBy == nameof(PersonResponse.DateOfBirth))
                        {
                            <i class="@(ViewBag.SortOrder == "DESC" ? "fa-solid fa-sort-down" : "fa-solid fa-sort-up")"></i>
                        }
                    </a>
                </th>
                <th>
                    <a href="~/persons/index?searchBy=@ViewBag.SearchBy&searchString=@ViewBag.SearchString&sortBy=@nameof(PersonResponse.Age)&sortOrder=@(ViewBag.SortOrder=="DESC" ? "ASC" : "DESC")">
                        Age
                        @if (ViewBag.SortBy == nameof(PersonResponse.Age))
                        {
                            <i class="@(ViewBag.SortOrder == "DESC" ? "fa-solid fa-sort-down" : "fa-solid fa-sort-up")"></i>
                        }
                    </a>
                </th>
                <th>
                    <a href="~/persons/index?searchBy=@ViewBag.SearchBy&searchString=@ViewBag.SearchString&sortBy=@nameof(PersonResponse.Gender)&sortOrder=@(ViewBag.SortOrder=="DESC" ? "ASC" : "DESC")">
                        Gender
                        @if (ViewBag.SortBy == nameof(PersonResponse.Gender))
                        {
                            <i class="@(ViewBag.SortOrder == "DESC" ? "fa-solid fa-sort-down" : "fa-solid fa-sort-up")"></i>
                        }
                    </a>
                </th>
                <th>
                    <a href="~/persons/index?searchBy=@ViewBag.SearchBy&searchString=@ViewBag.SearchString&sortBy=@nameof(PersonResponse.Country)&sortOrder=@(ViewBag.SortOrder=="DESC" ? "ASC" : "DESC")">
                        Country
                        @if (ViewBag.SortBy == nameof(PersonResponse.Country))
                        {
                            <i class="@(ViewBag.SortOrder == "DESC" ? "fa-solid fa-sort-down" : "fa-solid fa-sort-up")"></i>
                        }
                    </a>
                </th>
                <th>
                    <a href="~/persons/index?searchBy=@ViewBag.SearchBy&searchString=@ViewBag.SearchString&sortBy=@nameof(PersonResponse.Address)&sortOrder=@(ViewBag.SortOrder=="DESC" ? "ASC" : "DESC")">
                        Address
                        @if (ViewBag.SortBy == nameof(PersonResponse.Address))
                        {
                            <i class="@(ViewBag.SortOrder == "DESC" ? "fa-solid fa-sort-down" : "fa-solid fa-sort-up")"></i>
                        }
                    </a>
                </th>
                <th>
                    <a href="~/persons/index?searchBy=@ViewBag.SearchBy&searchString=@ViewBag.SearchString&sortBy=@nameof(PersonResponse.ReceiveNewsLetters)&sortOrder=@(ViewBag.SortOrder=="DESC" ? "ASC" : "DESC")">
                        Receive News Letter
                        @if (ViewBag.SortBy == nameof(PersonResponse.ReceiveNewsLetters))
                        {
                            <i class="@(ViewBag.SortOrder == "DESC" ? "fa-solid fa-sort-down" : "fa-solid fa-sort-up")"></i>
                        }
                    </a>
                </th>
                <th>
                    Options
                </th>
        </tr>
    </thead>
    <tbody>
        @foreach(PersonResponse person in Model)
        {
            <tr>
                <td>@person.PersonName</td>
                <td>@person.Email</td>
                <td>@person.DateOfBirth?.ToString("dd MMM yyyy")</td>
                <td>@person.Age</td>
                <td>@person.Gender</td>
                <td>@person.Country</td>
                <td>@person.Address</td>
                <td><input type="checkbox" disabled="disabled" @(person.ReceiveNewsLetters ? "checked" : "") /></td>
                <td><a asp-action="edit" asp-route-personID="@person.PersonID">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
</form>